#sidebar {
    width: 300px;
    min-width: 300px;
    transition: min-width 0.50s ease, width 0.50s ease;
    height: 100vh;
    overflow: auto;
    padding: 0;
}

#sidebarTopButton {
    width: 100%;
    height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    white-space: pre;
    padding-right: 1em;
}

.sidebarButton {
    cursor: pointer;
    background-color: #25292d;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.sidebarButtonHighlight {
    cursor: pointer;
    background-color: #33373a;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.sideTask{
    min-height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 2px;
}

.sideTaskTitle{
    font-size: 18px;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: clip;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
}

.sideTaskDate{
    font-size: 13px;
    color: #aaaaaa;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: clip;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#sidebarMainContainer {
    overflow: auto;
}

