body {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#mainContainer {
    height: 100vh;
    width: 100%;
}

#groupsBar {
    width: 80px; 
    max-width: 80px; 
    min-width: 80px; 
    height: 100vh;  
}
